name = "teligy3v-bot"
main = "src/index.js"
compatibility_date = "2025-10-16"
account_id = "86e97485017fdd3df450c1d758ce1b36"

[vars]
TG_BOT_TOKEN = "${{ secrets.TG_BOT_TOKEN }}"
ADMIN_CHAT_ID = "${{ secrets.ADMIN_CHAT_ID }}"
GROUP_CHAT_ID = "${{ secrets.GROUP_CHAT_ID }}"

[[d1_databases]]
binding = "my_database"
database_name = "my_database"
id = "7598b981-00a8-405b-b4d8-91aff9b877b2"

[triggers]
crons = ["0 0 * * *"]  # Запуск кожні 24 години для видалення тих, хто не пройшов реєстрацію

[observability]
enabled = false  # Вимкнено для економії ресурсів
head_sampling_rate = 1

[observability.logs]
enabled = true  # Залишити логування
head_sampling_rate = 1
persist = true
invocation_logs = true

[build]
# Опціонально додайте налаштування для інтеграції з вашою збіркою (наприклад, Babel, Webpack або TypeScript)
# Наприклад:
# command = "npm run build"
# cwd = "./src"
# upload = { format = "modules" }

# Ви можете використовувати "modules" або інші типи пакувань для вашого проекту, залежно від вашої структури
