name = "teligy3v-bot"
main = "src/index.js"

# Вказуємо, що використовуємо ES модулі
type = "module"

[[d1_databases]]
binding = "my_database"
database_id = "7598b981-00a8-405b-b4d8-91aff9b877b2"

# Ваші змінні оточення
[vars]
TG_BOT_TOKEN = "${{ secrets.TG_BOT_TOKEN }}"
ADMIN_CHAT_ID = "${{ secrets.ADMIN_CHAT_ID }}"
GROUP_CHAT_ID = "${{ secrets.GROUP_CHAT_ID }}"
